*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

/*COMMON*/

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.button{
    padding: 10px;
    border-radius: 20px;
}

.background-white{
    background-color: white;
    color: black;
}

.background-black{
    background-color: black;
    color: white;
}

.background-light{
    background-color: rgb(114 137 218);
    color:white
}

.large{
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 30px;
    margin: 0 10px;
}

.arrow-down{
    font-size: 30px;
}

.text-align{
    text-align: center;
}

.purple{
    color: rgb(114 137 218);
}

/*HEADER*/

.header-top{
    height: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    background-color:rgb(37 94 233);
}

.header-logo,
.header-actions{
    width: 20%;
}

.header-nav{
    flex-grow: 1;
}

.header-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.header-nav li{
    margin: 0 0.7rem;
}

.header-actions{
   text-align: right;
}

.img-logo{
    margin-top: 6px;
}

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 40px 0;
} 

.hero-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}

.hero-title{
    font-size: 3rem;
}

.hero-text{
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*MAIN*/

.main-section{
    padding: 60px 0;    
}

.background-grey{
    background-color: #f6f6f6;
}

.row{
    display: flex;
}

.column-large{
    width: 65%;
}

.column-small{
    width: 35%;
}

.main-section .content{
    margin: 15px 0;
}

.text-big{
    color: black;
    font-size: 3rem;
}

.text-small{
    color: black;
    padding-top: 35px;
    font-size: 1.4rem;
}

.adventure{
    margin: 0 auto;
    width: 40%;
    min-height: 4rem;
    font-size: 1.6rem;
    font-weight:bold;
    color: black;
    background-image: url(../img/stars.svg);
    background-size: contain;
    margin-bottom: 20px;
    padding: 10px 0;
}

/*FOOTER*/

footer{
    padding-top: 40px;
    background-color: hsl(205.71deg 9.09% 15.1%);
}

.main-column{
    width: 30%;
    padding: 20px 0;
}

.menu-column{
    width: 70%;
    display: flex;
}

.footer-menu{
    width: calc(100% / 4);
    padding: 20px 0;
}

.line-break{
    background-color:rgb(114 137 218);
    display: inline-block;
    width: 80%;
    border: 1px solid  rgb(114 137 218);
    margin: 0 10%;
}

.footer-bottom{
    padding-bottom: 2px;
}
 
.footer-bottom .container{
     padding: 10px 0;
}

.footer-icon{
    padding: 5px;
}

.footer-top .text-big{
    color: rgb(114 137 218);
    font-size: 1.8rem;
    font-weight: bold;
}

.footer-top .text-small{
    color: white;
    font-size: 1.2rem;
    padding: 20px 0;
    font-weight: bold;
}

.flag{
    max-width: 30px;
}

.footer-menu .text-small{
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.text-small.purple{
    color: rgb(114 137 218);
}